{% extends 'index.html' %}
{# imagen - nombre - descripción -  un link a una página web - email y contraseña. #}
{% block cambios %}
    <div class="formedit">

        <div>
            <h5>Usuario</h5>
            <p>{{ usuario.username }}</p>
        </div>
        <div>
            <h5>Nombre</h5>
            <p>{{ usuario.userprofile.nombre }}</p>
        </div>
        <div>
            <h5>Descripción</h5>
            <p>{{ usuario.userprofile.descripcion }}</p>
        </div>
        <div>
            <h5>Página web</h5>
            <p>{{ usuario.userprofile.pagina_web }}</p>
        </div>
        <div>
            <h5>Email</h5>
            <p>{{ usuario.email }}</p>
        </div>
        {% if user.username == usuario.username %}
            <a href="{% url 'accountEditar' %}">Editar Perfil</a>
        {% endif %}
    </div>
{% endblock %}