{% extends 'index.html' %}

{% block cambios %}
    <div class="container text-center mb-3">
        <div class="row" >
            <div class="col badge text-bg-info" style="">
                <a href="{% url 'crearPost' %}" class="posteos"> <h2>Crear Post</h2></a>
            </div>
            <div class="col badge text-bg-warning">
                <a href="" class="posteos"> <h2>Buscar Post</h2></a>
            </div>
            <div class="col badge text-bg-secondary">
                <a href="{% url 'posteosTodos' %}" class="posteos"> <h2>Ver todos los post</h2> </a>
            </div>
        </div>
    </div>
{% endblock %}