{% extends 'index.html' %}
{% block cambios %}
    {% load static %}
    <div class="container mb-3">
            <div class="row">
                <div class="col">
                    <img src="{% static 'assets/yo.jpg' %}" width="400px">
                </div>
                <div class="col" >
                    <h2>Hola, ¡bienvenidos a mi blog! Soy Alexis</h2>
                    <p>Soy un estudiante de la tecnicatura en programación en la Universidad Guillermo Brown en Buenos
                        Aires, Argentina, con
                        una pasión por el desarrollo de software.</p>

                    <p>Siempre he tenido curiosidad sobre varias ramas de las ciencias, así también sobre electrónica y
                        el funcionamiento
                        de diferentes aparatos electrónicos, programas o la vida misma. En mis tiempos de ocio siempre
                        trato de investigar
                        acerca de diferentes areas, entre ellas la filosofía estoica, física, química, algoritmos,
                        inteligencia artifical, etc.</p>

                    <p>Estudio todo lo que puedo sobre programación, tanto en la universidad como fuera de la misma con
                        diferentes cursos,
                        por lo tanto espero poder entrar en el mundo del desarrollo en el momento que se me presente la
                        primera oportunidad.
                    </p>
                </div>
            </div>
        </div>


{% endblock %}