{% extends 'index.html' %}
{% block cambios %}
    {% load static %}
    <div class="container mb-3">
            <div class="row">
                <div class="col">
                    <img src="{% static 'assets/yo.jpg' %}" width="400px" >
                </div>
                <div class="col" >
                    <h2>Hola, ¡Un gusto recibirte en mi blog! </h2>
                    <p>Mi nombre es Alexis, soy estudiante de la tecnicatura en programación en
                        la Universidad Guillermo Brown de Buenos Aires, Argentina
                        y tengo una gran pasión por el desarrollo de software.</p>

                    <p>Siempre he sentido curiosidad por diversas ramas de la ciencia, como la electrónica,
                        el funcionamiento de diferentes aparatos electrónicos, los programas de computadora,
                        y la vida misma. En mi tiempo libre, me encanta investigar y aprender sobre distintas
                        áreas,desde la filosofía estoica, hasta la física, química,
                        algoritmos e inteligencia artificial.</p>

                    <p>Estudio todo lo posible sobre programación, tanto dentro como fuera de la universidad,
                        por lo que espero tener la oportunidad de adentrarme en el mundo del
                        desarrollo en el momento adecuado.

                    </p>
                    <h3>¡Gracias por leerme!</h3>
                </div>
            </div>
        </div>


{% endblock %}