{% extends 'index.html' %}


{% block cambios %}

    <div class="text-center">
        <h2 class="text-center">{{ field.titulo }}</h2>
        <h3 class="text-center">{{ field.subtitulo }}</h3>
        <div class="text-center">
            <img src="{{ field.blogimg.imagen.url }}" width="400px">
        </div>
        <p>{{ field.cuerpo }}</p>
        <h4>{{ field.autor }}</h4>
        <h4>{{ field.fecha }}</h4>
    </div>

    <div class="m-4">

            <h2 class="text-center">Comentarios</h2></p>
        <hr class="sepcom">

        {% for comment in comments %}

            <form action="{% url 'Visto' comment.id %}" method="post">
            {% csrf_token %}

                    <div class="container">
                        <div class="row">

                        {# Sección de visto o no visto para admin, por el otro lado mensaje normal para usuario normal #}
                            <div class="col">
                                {% if user.is_superuser %}
                                    {% if comment.visto %}
                                        <a href="{% url 'perfilAjeno' comment.user_name  %}" >{{ comment.user_name }}</a>
                                        <p class="display-6"><b>mensaje:</b> {{ comment.comment }} <b
                                                style="color:green">[Visto]</b></p>

                                    {% else %}
                                        <a href="{% url 'perfilAjeno' comment.user_name  %}">{{ comment.user_name }}</a>
                                        <p class="display-4">{{ comment.comment }}</p>

                                    {% endif %}
                                {% else %}
                                    <a href="{% url 'perfilAjeno' comment.user_name  %}" style="text-transform: capitalize">{{ comment.user_name }}</a>
                                    <p class="display-6"><b>mensaje:</b> {{ comment.comment }}</p>
                                {% endif %}

                            </div>
                            {# seccion de vistos si es superuser #}
                            <div class="col">
                                {% if user.is_superuser %}
                                    {% if comment.visto %}
                                        <input type="submit" value="Desmarcar como visto">
                                    {% else %}
                                        <input type="submit" value="Marcar como visto">
                                    {% endif %}
                                {% endif %}



                            </div>
                        </div>
                    </div>
            </form>
        {% endfor %}
        {# Sección de acciones del usuario #}

        <div class="col m-4">
            {% if user.is_authenticated %}
                <a href="{% url 'Comentar' field.id %}" class="acciones-ver_mas"
                   style="background: #ffc720;color: white">Comentar</a>
                <a href="{% url 'MisMensajes' field.id %}" class="acciones-ver_mas"
                   style="background: #0c63e4;color: white">Modificar mis mensajes</a>
            {% else %}
                <p class="display-5">Debe estar logeado para poder comentar o modificar tus comentarios</p>
                <a href="{% url 'accountLogin' %}" class="display-5">Logearse</a>
            {% endif %}
        </div>
    </div>
{% endblock %}